:root {
  --color-primary: #c00;
  --color-secondary: #3b4cca;
  --color-tertiary: #ffde00;
  --color-font: #444;
  --color-bg: #eee;
  font-size: 62.5%;
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-font);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  min-height: 100vh;
  font-size: 1.4rem;
}

.content {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .content {
    padding: 3rem 3rem;
  }
}
.content__header {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 300;
}
.content__instructions {
  margin-bottom: 6rem;
  font-size: 2rem;
}

li {
  list-style: none;
}

.card-box {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .card-box {
    width: 95vw;
  }
}

.card {
  width: 24rem;
  height: 24rem;
  padding: 1rem;
  border: 2px solid #444;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
  transition: 0.2s all;
}
@media only screen and (max-width: 1000px) {
  .card {
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
  }
  .card:hover {
    transform: none;
    border: 2px solid var(--color-font);
  }
}
@media only screen and (max-width: 450px) {
  .card {
    height: 16rem;
    width: 16rem;
    margin: 0.8rem;
  }
}
.card:hover {
  transform: translateY(-2px);
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  background-color: var(--color-font);
  color: var(--color-bg);
  font-size: 1.2rem;
  width: 100%;
  padding: 0 5rem;
}

.loading {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 450px) {
  .loading {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .loading {
    padding: 3rem 3rem;
  }
}
.loading__image {
  height: 200px;
  width: 200px;
  animation: 1.2s ease-out infinite rattle;
}
.loading__text {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

@keyframes rattle {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.score {
  width: 100%;
  padding: 2rem 8rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);
  color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .score {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .score {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }
}
.score__score-div {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 300;
}
.score__score-div > * {
  padding: 0.5rem 0;
}
.score__score-div :first-child {
  padding-right: 2rem;
  border-right: 1px solid var(--color-bg);
}
.score__score-div :nth-child(2) {
  padding-left: 2rem;
  border-left: 1px solid var(--color-bg);
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reset__header {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.reset__score {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.btn {
  margin-top: 7.5rem;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--color-font);
  color: var(--color-bg);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 3px;
}
.btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
