// POKEMON CARDS

.card-box {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: 1200px) {
    width: 95vw;
  }
}

.card {
  width: 28rem;
  height: 28rem;
  padding: 1rem;
  border: 2px solid #444;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
  transition: 0.2s all;

  @media only screen and (max-width: 1000px) {
    width: 15rem;
    height: 15rem;
    margin: 1.5rem;
  }

  @media only screen and (max-width: 450px) {
    height: 12rem;
    width: 12rem;
    margin: 0.8rem;
  }

  &:hover {
    transform: scale(1.02);
    border: 2px solid var(--color-primary);
    cursor: pointer;
  }
}

// FOOTER

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  background-color: var(--color-font);
  color: var(--color-bg);
  font-size: 1.2rem;
  width: 100%;
  padding: 0 5rem;
}

// LOADING SCREEN

.loading {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    height: 200px;
    width: 200px;
    animation: 1.2s ease-out infinite rattle;
  }

  &__text {
    font-size: 3.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

@keyframes rattle {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

// HEADER AND SCORES

.score {
  width: 100%;
  padding: 2rem 8rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

  background-color: var(--color-primary);
  color: var(--color-bg);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 800px) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }

  &__score-div {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 300;

    & > * {
      padding: 0.5rem 0;
    }

    :first-child {
      padding-right: 2rem;
      border-right: 1px solid var(--color-bg);
    }

    :nth-child(2) {
      padding-left: 2rem;
      border-left: 1px solid var(--color-bg);
    }
  }
}

// RESET

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__score {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
}

.btn {
  margin-top: 7.5rem;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--color-font);
  color: var(--color-bg);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 3px;

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
}
